div.iPadContainer
{
  margin: auto;
  height: 100%;
  width: 40%;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-spacing: 10px 100px;
  padding-bottom: 250px;
}

h1
{
  background-color: #00338D;
  color: white;
  text-align: center;
  height: 50px;
  vertical-align: middle;
}

p
{
  color: #02277F;
  text-align: center;
  font-size: 18pt;
  font-family: Arial,Helvetica,sans-serif;
}

#forwardbutton
{
  border-radius: 8px;
  font-size: 16pt;
  color: white;
  background-color: #00A3A1;
  padding: 14px 80px;
  margin-right: 2%;
}

#backbutton
{
  border-radius: 8px;
  font-size: 16pt;
  color: white;
  background-color: #0091DA;
  padding: 14px 80px;
  margin-left: 2%;
}

table.guestName
{
  width: 75%;
  border: 10px solid #F0F0F0;
  margin-left: 12.5%;
}

table.guestName td
{
  padding: 5px;
  border-bottom: 5px solid #F0F0F0;
  font-size: 14pt;
  font-family: Arial,Helvetica,sans-serif;
  text-align: left;
  cursor: pointer;
}

a
{
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;

}
