/*title banner component.css start*/

div.titleBanner
{
  background-image: url('../../../../assets/event-images/view-Event/eventmenubanner.PNG'); /*TODO redo path*/
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:200px;
  width:100%;
  background-size: 100% 100%;
}

h1.titleText
{
  font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
  color: #ffffff;
  font-size: 5.0rem;
  font-weight: lighter;
  line-height: 1.2;
  text-align: left;
  outline: none;
  padding-left: 100px;
  padding-top: 50px;
}

/*title banner component.css end*/

/*************************************************************************************/

/*general positioning*/
body
{
  background-color: #f0f0f0;
}

div.outerBox
{
  background-color: #f0f0f0;
  width: 75%;
  margin-left: 12.5%;
}

table
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 1em 1em;
}

td
{
  background-color: #ffffff;
  width: 33.3%;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

}

/*************************************************************************************/

h3.sectionTitle
{
  font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: normal;
  word-wrap: break-word !important;
  word-break: normal !important;
  text-transform: none;
  margin: 0 0 8px 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  box-sizing: border-box;
  width: 48%;
}

img.personIcon, img.peopleIcon
{
  float: left;
}

h4.contactName
{
  color: #00338D;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
  word-wrap: break-word !important;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

img.emailIcon, img.phoneIcon
{
  float: left;
  margin-left: 5%;
}

p, ul
{
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.75rem;
  line-height: 1.2;
  padding-left: 21px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 0;
}

h5.staffList
{
  color: #6D2077;
  font-family: Arial,Helvetica,sans-serif;
  font-size: .95rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*************************************************************************************/

a
{
  width: 25%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1.2;
  font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
}

a.button1
{
  float: left;
  margin-left: 1.5%;
  background: #6D2077;
}

a.button2
{
  float: right;
  margin-right: 1.5%;
  background: #005eb8;
}
