/*if page is split into 2 components, this is start of title block*/
div.titleBlock
{
  background: linear-gradient(to bottom, #c8c8c8 2%, #d3d3d3 9%, #ffffff 17%, #ffffff 100%);
  height: 80px;
}

h2.pageTitle
{
  color: #00338D;
  font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
  font-size: 3rem;
  margin: 13px 0 6px;
  line-height: 1;
  font-weight: lighter;
  padding-top: 25px;
  margin-left: 6%;
}

/*end of title block*/

/**************************************************************************/

/*start of filter block*/

div.filterBlock
{
  background: #dedede;
  padding: 10px;
}

table.filters
{
  width: 80%;
  margin-left: 11%;
}

.comboBox select
{
  background: transparent;
  border: 0;
  border-radius: 0;
  width: 180px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  height: 30px;
  font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.comboBox
{
  width: 180px;
  height: 28px;
  overflow: hidden;
  background: url("src/assets/event-images/comboboxarrow.PNG") no-repeat right #fff; /*redo path*/
  border: 1px solid #999999;
}

/*end of filter block*/

/*****************************************************************************/

/*start of page content*/

body
{
  background-color: #f0f0f0;
}

div.eventList
{
  background-color: #ffffff;
  width: 76.5%;
  margin-left: 11.75%;
}

table
{
  width: 100%;
}

td
{
  border-bottom: 20px solid #f0f0f0;
  padding-bottom: 10px;
}

img
{
  float: left;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

h3.listItem
{
  color: #005eb8;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.2;
  font-weight: lighter;
  width: 95%;
  text-transform: none;
  margin: 8px 0;
  font-size: 1.6rem;
}

p
{
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1;
  font-weight: lighter;
  font-size: 1.2rem;
}
