<br>
><br>
><br>
><br>

<body>
<!--title banner component.html start-->
<div class="titleBanner">
  <h1 class="titleText">Reporting menu</h1>
</div>
<!--title banner component.html end-->

<br>

<!--page content component.html start-->

<div class="pageLayout">

  <div class="contentBox">

    <h2 class="pageInstruction">Please select from the following</h2>

    <br>

    <ul>
      <li>
        <a class="menuLink" href="#">
          Industry report
          <img class="greenArrow" src="../../../assets/Desktop-images/menuarrowicon.PNG" alt="forward arrow"/> <!--change src path-->
        </a>
      </li>
      <li> <!--hr is a tag for break with a style theme-->
        <hr>
      </li>
      <li>
        <a class="menuLink" href="#">
          Service report
          <img class="greenArrow" src="../../../assets/Desktop-images/menuarrowicon.PNG" alt="forward arrow"/> <!--change src path-->
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a class="menuLink" href="#">
          Insight report
          <img class="greenArrow" src="../../../assets/Desktop-images/menuarrowicon.PNG" alt="forward arrow"/> <!--change src path-->
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a class="menuLink" href="#">
          Yearly report
          <img class="greenArrow" src="../../../assets/Desktop-images/menuarrowicon.PNG" alt="forward arrow"/> <!--change src path-->
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a class="menuLink" href="#">
          Monthly report
          <img class="greenArrow" src="../../../assets/Desktop-images/menuarrowicon.PNG" alt="forward arrow"/> <!--change src path-->
        </a>
      </li>
    </ul>

  </div>

</div>

<!--page content component.html end-->
</body>
