
<body>

<div id="iPadContainer">

  <br>

  <div class="centreStuff"></div>

  <p>Set up this iPad for event self-service</p>

  <br>

  <div class="checkIn">
    <a id="forwardbutton"
       [routerLink]="['search']"
    >Self-Service</a>
  </div>


  <br><br>

  <img id="divider1" src="../../assets/images/orDivider.PNG" alt="page divider"/>

  <br>

  <p>Get event stats</p>

  <br>
  <div class="forwardReg">
    <a routerLinkActive='active'

       [routerLinkActiveOptions]="{exact: true}"
       id="forwardbutton"
       [routerLink]="['event']">Select Event</a>
  </div>

</div>

<br>

</body>
